Start Date: <%= @invoice.start_date %> <br />
End Date: <%= @invoice.end_date %> <br />
Location: <%= @invoice.location.site_name %>
<table class='table table-striped table-hover'>
  <thead>
    <th scope="col">Clean No*</th>
    <th scope="col">Date</th>
    <th scope="col">Plot No*</th>
    <th scope="col">Cost </th>
  </thead>
  <% @cleans.each do |clean| %>
    <tr>
      <td><%= link_to clean.id, clean_path(clean) %> </td>
      <td><%= clean.date%> </td>
      <td><%= Plot.find(clean.plot_id).number %> </td>
      <td>
        <% if clean.clean_type == "Build" %>
          £<%= @invoice.location.cost_house_locations.find_by({house_id: Plot.find(clean.plot_id).house_id}).build_cost %> 
        <% elsif clean.clean_type == "Demo" %>
          £<%= @invoice.location.cost_house_locations.find_by({house_id: Plot.find(clean.plot_id).house_id}).demo_cost %> 
        <% elsif clean.clean_type == "Sparkle" %>
          £<%= @invoice.location.cost_house_locations.find_by({house_id: Plot.find(clean.plot_id).house_id}).sparkle_cost %> 
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

Total Cost: £<%= @invoice.total_cost%>

