<h1>Outstanding</h1>
<%= render '/shared/cleans-table-header'%>
  <% @cleans.each do |clean| %>
    <% if clean.completed == false || !clean.completed %>
      <%= render '/shared/clean-table-row.html.erb', clean: clean %>
    <% end %>
  <% end %> 
</table>

<div>
  <%= link_to 'New Clean Job', new_clean_path %>
</div>

<h1>Completed</h1>
<%= render '/shared/cleans-table-header'%>
  <% @cleans.each do |clean| %>
    <% if clean.completed == true %>
      <%= render '/shared/clean-table-row.html.erb', clean: clean %>
    <% end %>
  <% end %> 
</table>