<table class='table table-striped table-hover'>
  <thead>
    <th scope="col">Clean No*</th>
    <th scope="col">Date(s)</th>
    <th scope="col">Request sent on </th>
    <th scope="col">Completed </th>
  </thead>
  <% @cleans.each do |clean| %>
      <tr scope="row">
        <td><%= link_to clean.id, clean %></td>
        <td><%= clean.date.strftime('%d/%m/%Y') %></td>
        <td><%= clean.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= clean.completed? ? 'Y' : 'N' %></td>
      </tr>
  <% end %> 
</table>

<div>
  <%= link_to 'New Clean Job', new_clean_path %>
</div>
