<div>
    <%= form_with(model: [@house], local: true) do |f| %>
        
        <div class="form-group row">
            <%= f.label :sales_name, class:"col-form-label col-2" %>
            <%= f.text_field :sales_name, class:"form-control col-10"  %>
        </div>

        <div class="form-group row">
            <%= f.label :build_number, class:"col-form-label col-2" %>
            <%= f.text_field :build_number, class:"form-control col-10"  %>
        </div>

        <div class="form-group row">
            <%= f.label :bedrooms, "Number of Bedrooms", class:"col-form-label col-2" %>
            <%= f.text_field :bedrooms, class:"form-control col-10"  %>
        </div>

        <div class="form-group row justify-content-center">
        <%= f.submit class:"btn btn-lg btn-primary" %>
        </div>

    <% end %>
</div>