<h1>Plot Number <%= @plot.number %></h1>
<ul>
  <li> Site: <%= @plot.location.site_name %> </li>
  <li>House Type: <%= House.find(@plot.house_id).sales_name if @plot.house_id %> </li>
</ul>

<h2>Cleans </h2>
<hr />
<h4>Pre-Paint</h4>
<%= render 'clean', clean:@plot.cleans.find_by(clean_type: "Pre-Paint") %>
<h4>Post-Paint</h4>
<%= render 'clean', clean:@plot.cleans.find_by(clean_type: "Post-Paint") %>
<h4>Demo</h4>
<%= render 'clean', clean:@plot.cleans.find_by(clean_type: "Demo") %>
<h4>Sparkle</h4>
<%= render 'clean', clean:@plot.cleans.find_by(clean_type: "Sparkle") %>
<hr />
<p><%= link_to 'Edit', edit_location_plot_path(@location, @plot), class: "btn btn-lg btn-warning" %></p>