<div class="jumbotron">
  <h1 class="display-4">Clean Request</h1>
    <div> Date Requested:<%= @clean_request.date%> </div>
    <div> Location: <%= @clean_request.location.site_name  if @clean_request.location %> </div>
    <div> Plot Number: <%= @clean_request.plot_number %> </div>
    <div> Clean requested: <%= @clean_request.clean_type %> </div>
    <div> Notes:<%= @clean_request.notes%> </div>
    <div> Requested by: <%= User.find(@clean_request.user_id).email %></div>
    <div><%= link_to 'Edit', edit_clean_request_path(@clean_request) %></div>
    <div><%= link_to 'Delete request', @clean_request, method:(:delete), data: { confirm: "Are you sure?"} %></div>
</div>

<% if current_user.admin? %>
  <div>
    <h3>Admin</h3>
    <% if !@clean_request.cleans %>
      <h4>Convert to clean job </h4>
       <%= link_to clean_request_convert_path(@clean_request), method: "get" %> 
    <% end %>
  </div>
<% end %>