<div class="jumbotron">
  <h1 class="display-4">Clean Request</h1>
    <div> Date Requested:<%= @clean_request.date%> </div>
    <div> Location: <%= @clean_request.location.site_name  if @clean_request.location %> </div>
    <div> Plot Number: <%= @clean_request.plot_number %> </div>
    <div> Clean requested: <%= @clean_request.clean_type %> </div>
    <div> Notes:<%= @clean_request.notes%> </div>
    <div> Requested by: <%= User.find(@clean_request.user_id).email %></div>
    <div><%= link_to 'Edit', edit_clean_request_path(@clean_request) %></div>
    <div><%= link_to 'Delete request', @clean_request, method:(:delete), data: { confirm: "Are you sure?"} %></div>
</div>

<% if current_user.admin? %>
  <div>
    <h3>Admin</h3>
    <% if !@clean_request.approved %>
      <%= form_with(model: @clean_request, local: true) do |f| %>
          <div class="form-group row">
            <%= f.label :approved, class:"col-form-label col-2"  %>
          <%= f.check_box :approved, class:"form-control col-10" %>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit class:"btn btn-lg btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>