<tr scope="row">
  <td><%= link_to clean.id, clean %></td>
  <td><%= clean.date.strftime('%d/%m/%Y') %></td>
  <td><%= Location.find(clean.location_id).site_name %> </td>
  <td><%= Plot.find(clean.plot_id).number %> </td>
  <td><%= clean.clean_type %></td>
</tr>