<h3><%= @location.site_name %></h3>
<div><%= @location.address1 %></div>
<%= @location.address2 %>
<div><%= @location.city %></div>
<div><%= @location.postcode %></div>

<div>
    <%= link_to 'Edit', edit_location_path(@location) %>
</div>

<div> 
    <%= link_to 'Delete', location_path, method: :delete, data:{ confirm: "Are you sure? "} %>
</div>
<br />
<div>
    <%= link_to 'Houses', location_houses_path(params[:id]) %>
</div>
<div>
    <%= link_to 'New House', new_location_house_path(params[:id]) %>
</div>