<div class="card mb-2", style= "background-image: url(<%= url_for(@location.layout) %>); background-size: 50%; background-repeat: no-repeat; background-position: center;">
  <div class="card-header">
    <h3><%= @location.site_name %></h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Address</h5>
    <div>
        <%= @location.address1 %>
    </div>
    <div>
         <%= @location.address2 %>
    </div>
    <div>
        City:<%= @location.city %>  
    </div>
    <div>
        Postcode:<%= @location.postcode %>   
    </div>
    <div>
        <%= link_to 'Edit', edit_location_path(@location), class:"btn btn-large btn-primary" %>
        <%= link_to 'Delete', location_path, method: :delete, data:{ confirm: "Are you sure? "}, class:"btn btn-large btn-danger" %>
    </div>
  </div>

</div>

<h3>House price listing </h3>

<table class='table table-striped table-hover'>
    <thead>
        <th>Sales Name </th>
        <th>Pre Paint </th> 
        <th>Post Paint </th>
        <th>Demo </th>
        <th>Sparkle </th>
    </thead>
    <% @location.cost_house_locations.each do |cost| %>
        <tr>
            <td><%= link_to cost.house.sales_name, location_cost_house_location_path(@location,cost)  %> </td>
            <td>£<%= cost.pre_paint_cost %></td>
            <td>£<%= cost.post_paint_cost %></td>
            <td>£<%= cost.demo_cost %></td>
            <td>£<%= cost.sparkle_cost %></td>
        </tr>
    <% end %>
    <tfoot>
        <% if House.count > 0 %>
            <td><%= link_to 'Add House to Site' , new_location_cost_house_location_path(@location) %></td>
        <% else %>
            <td>No Houses in database would you like to  <%= link_to 'Create a House', new_house_path %></td>
        <% end %>
    </tfoot>
</table>



<div class="card">
    <div class="card-header">
        <h3>Plots </h3>
    </div>
    <div class="card-body">
        <% @plots.each do |plot| %>
            <% if plot.house_id %>
                <%= link_to plot.number, location_plot_path(@location, plot), class: "badge bg-primary text-decoration-none plot-badge" %>
            <% else %>
                <%= link_to plot.number, location_plot_path(@location, plot), class: "badge bg-secondary text-decoration-none plot-badge" %>
            <% end %>
        <% end %>
    </div>
</div>
