<!DOCTYPE html>
<html>
  <head>
    <title>LSCApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="99oVoIqT5JRGy-Wv8WM0Q_zFe6MMtO8BXrYQA5sVwpc" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <%= render 'layouts/messages'%>
    <div class= 'container mt-3' >
      <%= yield %>
    </div>
  </body>
</html>
